.bg {
  position: absolute;
  background-image: url(../assets/kame-house.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: contrast(0.5);
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: yellow;
  font-family: Saiyan-san;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title p {
  font-size: 6rem;
  text-shadow: 4px 4px 0 #000000, -4px -4px 0 #000000, 4px -4px 0 #000000,
    -4px 4px 0 #000000;
}

.red {
  color: red;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content p {
  font-size: 2rem;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 20px;
  justify-content: center;
  padding: 100px;
}
