@font-face {
  font-family: Saiyan-san;
  src: url(../assets/Saiyan-Sans.ttf);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sqans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5% 95%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #root {
    grid-template-rows: 10% 90%;
  }

  .header-title p {
    font-size: 3.5rem;
  }

  .header-content p {
    font-size: 1.8rem;
  }

  .modal-title {
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
      -2px 2px 0 #000000;
    font-size: 4rem;
  }

  .modal-small-text {
    font-size: 1.8rem;
  }

  .modal-small-text.menu {
    font-size: 1.2rem;
  }

  .scored-count {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.5rem;
  }

  main {
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  #root {
    grid-template-rows: 10% 90%;
  }

  .header-title p {
    font-size: 3.5rem;
  }

  .header-content p {
    font-size: 1.8rem;
  }

  .modal-content {
    width: 50%;
    height: 50%;
  }

  .modal-title {
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
      -2px 2px 0 #000000;
    font-size: 5rem;
  }

  .modal-small-text {
    font-size: 2rem;
  }

  .modal-small-text.menu {
    font-size: 1.5rem;
  }

  .scored-count {
    font-size: 1rem;
  }

  button {
    font-size: 1.5rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  main {
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  }

  .card-header {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #root {
    grid-template-rows: 10% 90%;
  }

  .header-title p {
    font-size: 2rem;
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
      -2px 2px 0 #000000;
  }

  .header-content p {
    font-size: 1.2rem;
  }

  .modal-content {
    width: 60%;
    height: 60%;
  }

  .modal-title {
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
      -2px 2px 0 #000000;
    font-size: 3rem;
  }

  .modal-content.end {
    height: 60%;
  }

  .modal-small-text {
    font-size: 1.2rem;
  }

  .scored-count {
    font-size: 1rem;
  }

  button {
    font-size: 1.5rem;
  }

  main {
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 70px));
    padding-bottom: 100px;
  }

  .card-header {
    display: none;
  }
  .card-title {
    font-size: 1rem;
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
      -2px 2px 0 #000000;
  }
  .card-img {
    height: 100%;
  }
}
