@font-face {
  font-family: Saiyan-san;
  src: url(./assets/Saiyan-Sans.ttf);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sqans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5% 95%;
}

.bg {
  position: absolute;
  background-image: url(./assets/kame-house.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: contrast(0.7);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: yellow;
  font-family: Saiyan-san;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title p {
  font-size: 6rem;
  text-shadow: 4px 4px 0 #000000, -4px -4px 0 #000000, 4px -4px 0 #000000,
    -4px 4px 0 #000000;
}

.red {
  color: red;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content p {
  font-size: 2rem;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 20px;
  justify-content: center;
  padding: 100px;
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
  height: auto;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.card:focus {
  outline: 0;
}
.card-img-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.card-img {
  height: 80%;
}

.card-content {
  position: relative;
  z-index: 1;
  height: 100%;
}

.card-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  color: white;
  font-size: 110%;
  padding: 10px;
}

.card-header-item-right {
  justify-self: end;
}

.card-title-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
